<%- contentFor('body') %>

<h1>Clientes</h1>

<div class="row">
  <div class="col-xs-1-12 p-2">
    <div class="card">
      <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/smartest-dog-breeds-1553287693.jpg?crop=0.671xw:1.00xh;0.167xw,0&resize=640:*" />
      <div class="card-body">
        <h5 class="card-title">Matheus Iori Ribeiro</h5>
        <p class="card-text">Nome Completo...</p>
        <a href="#" class="btn btn-primary">Editar</a>
      </div>
    </div>
  </div>
</div>